*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    background: darkblue;
    text-align: center;
    color: #fff;
    padding: 10px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    max-width: 310px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    padding: 14px 10px;
    /* transform: translate(-50%,-50%); */
    box-shadow: 1px 1px 5px 3px;
    background-color: rgb(146, 126, 126);
}

input{
    border: none;
    outline: none;
    min-width: 3rem;
    height: 3.2rem;
    margin-top: 5px;
    margin-left: 11px;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 5px;
    cursor: pointer;
}

#screen{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    text-align: end; 
    font-size: 20px;
    margin: 0;
    padding-right: 10px;
    box-shadow: none;
    /* word-wrap: break-word; */
}

.display{
    height:3rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 5px;
    padding: 5px;
}

.equal{
    width: 7rem;
}

.color-btn{
    background-color: aqua;
    font-size: 20px;
}

.color-btn2{
    background-color: red;
    font-size: 20px;
    color: white;
}


